# Android / Gradle
*.iml
.gradle/
local.properties
/.idea/
/build/
/captures/
.externalNativeBuild/
.cxx

# IntelliJ / Android Studio
.idea/
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Keystores (não versionar!)
*.jks
*.keystore

# App-specific
app/release/
